.btn {
  @include border-radius($border-radius);
  font-size: $font-size-base;
  color: $gray-100;
  line-height: 1.3;
  padding: 0.7rem 1rem;
  border: 0.1rem solid rgba($gray-100, 0.3);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;

  &--active,
  &:hover {
    background: rgba($gray-100, 0.1);
    color: $gray-100;
    border-color: $gray-100;
    text-decoration: none;
  }
  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba($black, 0.2);
  }
  &:disabled {
    cursor: not-allowed;
  }
  &--default {
    color: $gray-400;
    background: $white;
    border-color: $gray-300;
    &:hover {
      color: $gray-400;
      background: $gray-100;
      border-color: $gray-300;
    }
    &:disabled {
      color: $gray-100;
      background: lighten($gray-100, 30%);
      border-color: lighten($gray-300, 20%);
      &:after {
        border-top-color: $gray-100 !important;
      }
    }
  }
  &--dark {
    background: $gray-300;
    border-color: $gray-400;
    &:hover {
      background: darken($gray-300, 5%);
      border-color: darken($gray-400, 10%);
    }
    &:disabled {
      color: $gray-300;
      background: lighten($gray-300, 30%);
      border-color: lighten($gray-400, 20%);
    }
  }
  &--green {
    background: lighten($green, 5%);
    border-color: $green;
    &:hover {
      background: darken($green, 5%);
      border-color: darken($green, 10%);
    }
    &:disabled {
      color: $gray-300;
      background: lighten($green, 30%);
      border-color: lighten($green, 20%);
    }
  }
  &--red {
    background: lighten($red, 5%);
    border-color: $red;
    &:hover {
      background: darken($red, 5%);
      border-color: darken($red, 10%);
    }
    &:disabled {
      color: $gray-300;
      background: lighten($red, 30%);
      border-color: lighten($red, 20%);
    }
  }
  &--orange {
    background: lighten($orange, 5%);
    border-color: $orange;
    &:hover {
      background: darken($orange, 5%);
      border-color: darken($orange, 10%);
    }
    &:disabled {
      color: $gray-300;
      background: lighten($orange, 30%);
      border-color: lighten($orange, 20%);
    }
  }
}
